.App {
  text-align: center;
}


.App-header {
  background-color: #ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: 40px;
  font-family:sans-serif;

}
p{
  margin: 40px 30px;
}
.App-header img {
  display: flex;
  width: 150px;
  margin: 5px 10px 10px 0px ;
}

.button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: CornflowerBlue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: DodgerBlue}

.button:active {
  background-color: DodgerBlue;
  box-shadow: 0 5px DeepSkyBlue;
  transform: translateY(4px);
}

input[type=text] {
  font-family:sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 30px 0;
  box-sizing: border-box;
  border: none;
  background-color:whitesmoke;
  color: black;
}
label{
  font-size: 20px;
  float: left;
  
}

